.Wdate{
 background-color: #fff;
    background-image: url("spobg3.png");
    background-position: right center;
    background-repeat: no-repeat;

}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}
.smin{  background: #fff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    font-size: 30px;
    height: 32px;
    left:63px;
    line-height: 30px;
    position: absolute;
	width:25px; text-align:center;
    top: 1px;
 	color:#999;
font-size: 35px;}
.sadd{  background: #fff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    font-size: 30px;
    height: 32px;
    right:127px;
    line-height: 30px;
    position: absolute;
	width:25px; text-align:center;
    top: 1px;
color:#999}
.text_box{ text-align:center; text-indent:0px;}