@charset "utf-8";
dd{ margin:0px; padding:0px}
.proReview {
	width:930px; overflow:hidden
}
.jqmOverlay {
	background-color: rgb(0, 0, 0);
}
* iframe.jqm {
	left: 0px; top: 0px; position: absolute; z-index: -1;
}
* html .jqmWindow {
	position: absolute;
}


a{ text-decoration:none}

.proReason {
	padding: 5px 0px; border: 2px solid rgb(255, 153, 0); width: 924px; color: rgb(51, 51, 51); overflow: hidden; margin-bottom: 30px;
}
.proReason .p1 {
	background: rgb(255, 245, 219); height: 29px; color: rgb(155, 102, 15); line-height: 29px; text-indent: 20px; font-weight: bold;
}
.proReason .p1Trim1 {
	color: rgb(204, 0, 0);
}
.proReason .d1 {
	padding: 0px 0px 0px 20px; overflow: hidden;
}
.proReason .dTrim1 {
	padding: 10px 0px 5px;
}
.proReason .dTrim1 p {
	background: url("../images/p53.gif") no-repeat 2px 7px; margin: 10px 20px; line-height: 20px; padding-left: 17px; vertical-align: top; _background: url(../images/p53.gif) no-repeat 2px 5px;
}
.proReason .dTrim1 p i {
	display: none;
}
.proReason .dTrim1 p b {
	color: rgb(255, 102, 0); font-size: 14px; font-style: normal; font-weight: bold;
}
.proReason .d1 p {
	background: url("../images/p29.gif") no-repeat 2px 17px; padding: 10px 30px 10px 15px; width: 405px; line-height: 20px; border-bottom-color: rgb(247, 244, 238); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.proReason .d1 label b {
	background: rgb(87, 168, 0); width: 6px; height: 6px; overflow: hidden; float: left;
}
.proReason .d1 span {
	width: 250px; float: left;
}
.proReason .d1Trim1 span {
	width: 100%; color: rgb(102, 102, 102); float: left;
}
.proReason .d1Trim1 span a {
	color: rgb(51, 153, 0); font-size: 14px; font-weight: bold;
}
.proReason .d1Trim1 span label {
	width: 300px; float: left;
}
.proReason .d1Trim1 span a:hover {
	text-decoration: underline;
}
.proReason .d1Trim1 span em {
	width: 75px; height: 20px; text-align: right; color: rgb(101, 101, 101); font-style: normal; font-weight: normal; float: right;
}
.proReason .d1Trim1 span em i {
	color: rgb(255, 102, 0); font-size: 12px; font-style: normal; font-weight: bold;
}
.proReason .d1Trim1 span b {
	color: rgb(255, 102, 0); font-size: 14px; font-style: normal;
}
.proReason a:hover {
	color: rgb(51, 51, 51);
}
.infoDetailTitleM .p2 a:hover {
	color: rgb(255, 102, 0); text-decoration: underline; cursor: pointer;
}
.infoDetailTitleM h2 a {
	color: rgb(51, 51, 51);
}
.infoDetailTitleM h2 a:hover {
	color: rgb(51, 51, 51);
}
.infoDetailTitleM h2 a:active {
	color: rgb(51, 51, 51);
}
.tbReason tr {
	margin: 0px; padding: 0px;
}
.tbReason td {
	background: url("/content/product/p29.gif") no-repeat 2px 18px; margin: 0px; padding: 10px 60px 10px 15px; width: 50%; vertical-align: top;
}
.tbReason tr td {
	line-height: 20px; border-bottom-color: rgb(247, 244, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.proTitle .s2 a:hover {
	cursor: default;
}
.infoDetail {
	padding: 0px 30px;
}
.infoDetailTitle {
	margin: 20px 0px; width: 930px; height: 35px; color: rgb(0, 0, 0); overflow: hidden;
}
.infoDetailTitleL {
	background: url("../images/p36.gif") no-repeat 0px 0px; width: 5px; height: 35px; overflow: hidden; float: left; position: relative;
}
.infoDetailTitleM {
	background: rgb(245, 245, 245); width: 920px; height: 35px; line-height: 35px; overflow: hidden; float: left; position: relative;
}
.infoDetailTitleR {
	background: url("../images/p37.gif") no-repeat 0px 0px; width: 5px; height: 35px; overflow: hidden; float: right; position: relative;
}
.infoDetailTitle h2 {
	width: 84px; height: 35px; color: rgb(0, 0, 0); overflow: hidden; padding-left: 20px; font-size: 18px; float: left;
}
.infoDetailTitle .p1 {
	width: 500px; height: 35px; color: rgb(153, 153, 153); padding-left: 3px; float: left;
}
.infoDetailTitle .p2 {
	width: 180px; text-align: right; padding-right: 15px; float: right;
}
.infoDetailTitle .p2 .a1 {
	background: url("../images/p3.gif") no-repeat 2px; padding-left: 20px;
}
.infoDetailTitle .p2 .a2 {
	background: url("../images/p2.gif") no-repeat 2px; padding-left: 20px;
}
.procent_main2 {
	padding: 0px 20px;
}
.gl_leftmain {
	padding-bottom: 15px;
}
.procent_main {
	padding-bottom: 5px;
}
.proReviewTab {
	width: 930px; overflow: hidden; margin-bottom: 20px;
}
.proReviewTab .hd {
	height: 29px; overflow: hidden;
}
.proReviewTab .hd ul {
	width: 920px; height: 30px; clear: both; margin-left: 10px; float: left; display: inline;
}
.proReviewTab .hd li {
	background: url("../images/p10.gif") repeat-x 0px 0px; border-width: 1px; border-style: solid; border-color: rgb(224, 224, 224) rgb(224, 224, 224) rgb(255, 204, 153); padding: 0px 10px; height: 28px; text-align: center; overflow: hidden; margin-right: 3px; float: left; display: inline-block; position: relative; z-index: 1; overflow:hidden;
}
.proReviewTab .hd li.trim1 {
	border: 0px ; width: 350px; text-align: right; color: rgb(153, 153, 153); line-height: 18px; margin-top: 5px; float: right;
}
.proReviewTab .hd li a {
	height: 30px; color: rgb(102, 102, 102); line-height: 30px; overflow: hidden; font-size: 14px; font-weight: bold; float: left; text-decoration:none
}
.proReviewTab .hd li a em {
	font-family: "Arial"; font-size: 12px; font-style: normal;
}
.proReviewTab .hd li.cur {
	background: url("../images/p6.gif") repeat-x 0px 0px; border: 1px solid rgb(255, 204, 153);
}
.proReviewTab .hd li.cur a {
	color: rgb(102, 51, 0);
}
.proReviewTab .bd {
	padding: 15px 20px;  width: 920px; color: rgb(51, 51, 51); clear: both; float: left; border-top:1px solid rgb(255, 204, 153);
}
.proReviewTab .bd .item {
	width: 938px; clear: both; margin-left: 10px; float: left; display: none; _display: inline;
}
.proReviewTab .bd p {
	line-height: 20px;
}
.proReviewTab .bd p.p2 {
	width: 660px; color: rgb(102, 102, 102); line-height: 18px; clear: both; float: left;
}
.glbot2 {
	padding: 5px 0px 15px;
}
.glbot2 ul li {
	width: 65px; padding-left: 22px; float: left;
}
.glbot2 ul li {
	background: url("../images/p49.gif") no-repeat 0px 0px; width: 65px; height: 16px; padding-top: 2px; float: left;
}
.glbot2 ul li a {
	color: rgb(102, 153, 0);
}
.glbot2 ul li.jdjs {
	
}
.glbot2 ul li.tsms {
	background-position: 0px -85px;
}
.glbot2 ul li.ddgw {
	background-position: 0px -17px;
}
.glbot2 ul li.jdzs {
	background-position: 0px -102px;
}
.glbot2 ul li.jtgj {
	background-position: 0px -34px;
}
.glbot2 ul li.lyjj {
	background-position: 0px -68px;
}
.glbot2 ul li.lycs {
	background-position: 0px -51px;
}
.glbot2 ul li.fjsy {
	background-position: 0px -136px;
}
.glbot2 ul li.zysx {
	background-position: 0px -119px;
}
.glbot2 ul li.qzbl {
	background-position: 0px -136px;
}
.fastCalender {
	padding: 10px; border: 1px solid rgb(222, 222, 222); width: 906px; margin-bottom: 15px;
}
.fastCalender .input1 {
	border: 1px solid rgb(204, 204, 204); width: 40px; height: 18px;
}
.fastCalender .p9 {
	width: 270px; float: left;
}



.ydcont_center {
	background: rgb(255, 255, 255); border: 1px solid rgb(102, 102, 102); height: 130px; box-shadow: 2px 2px 2px #ccc;
}
.ydcont_center .sClose1 {
	background: url("../images/p55.gif") no-repeat 0px 0px; top: 10px; width: 15px; height: 15px; right: 10px; float: right; position: absolute; cursor: pointer;
}
.calendar {
	border: 3px solid rgb(231, 231, 231); border-collapse: collapse;
}
.calendar-title {
	background: rgb(242, 247, 253); height: 25px;
}
.calendar-title-current-month {
	color: rgb(3, 3, 3); font-weight: 700;
}
.calendar-weeks {
	background: rgb(250, 255, 241); height: 24px;
}
.calendar-week-days {
	height: 45px;
}
.calendar td {
	border: 1px solid rgb(216, 236, 247); width: auto; height: 26px; text-align: center; vertical-align: middle;
}
.calendar td div {
	padding: 2px 5px 0px 0px; width: 62px; height: 40px; text-align: right; line-height: 13px; overflow: hidden; font-family: Simsun; font-weight: 400;
}
.calendar span.v-holiday {
	text-align: right; color: rgb(0, 0, 0); font-size: 12px; font-weight: 400; float: none;
}
.calendar-today {
	color: red;
}
.calendar a {
	text-decoration: none; cursor: pointer;
}
.calendar_red {
	color: rgb(204, 0, 0);
}
.calendar_bg_ffffcc {
	background: rgb(255, 255, 204); height:20px; cursor:pointer; line-height:20px;
}
.calendar_padding_top_8 {
	padding-top: 8px;
}
.calendar_padding_top_5 {
	padding-top: 5px;
}
.calendar_color_333 {
	color: rgb(51, 51, 51);
}
.calendar_color_ff6600 {
	color: rgb(255, 102, 0);
}
.calendar_jieri {
	color: rgb(72, 118, 255);
}
.calendar-tag {
	color: red; font-size: 12px;
}
.calendar div {
	color: red; font-size: 12px;
}
.calendar-weeks td {
	background: rgb(207, 235, 255); color: rgb(24, 76, 146); font-weight: bold;
}
.calendar td div {
	color: rgb(0, 0, 0);
}
#subPrev {
	background: url("../images/subPrev.gif") no-repeat 0px 0px; margin: 0px 0px 0px 22px; width: 20px; height: 18px; text-indent: -9999px; float: left;
}
#subNext {
	background: url("../images/subNext.gif") no-repeat 0px 0px; margin: 0px 0px 0px 22px; width: 20px; height: 18px; text-indent: -9999px; float: left;
}
#dv_01 {
	width: 500px; float: left; display: none; position: absolute; background-color: rgb(255, 255, 255);
}
.pChatPart {
	padding: 15px 50px 0px; color: rgb(102, 102, 102);
}
.pChatPart .bk1 {
	margin-bottom: 10px;
}
.pChatPart .bk1 a {
	color: rgb(51, 153, 0); font-size: 14px; font-weight: bold;
}
.pChatPart .bk1 a:hover {
	text-decoration: underline;
}
.pChatPart .bk2 {
	height: 16px; line-height: 16px; margin-bottom: 15px; vertical-align: middle;
}
.pChatPart .bk2 img {
	vertical-align: top;
}
.pChatPart .bk2 i {
	color: rgb(229, 138, 0); font-family: Verdana; font-size: 11px; font-style: normal;
}
.pChatPart .bk2 i.i1 {
	margin-right: 45px;
}
.pChatPart .bk3 {
	
}
.pChatPart li {
	padding: 15px 0px; height: 133px; border-bottom-color: rgb(209, 209, 209); border-bottom-width: 1px; border-bottom-style: dashed;
}
.pChatPart li.trim1 {
	border: 0px ;
}
.pChatPart .pChatL {
	width: 115px; float: left;
}
.pChatPart .pChatM {
	width: 700px; line-height: 21px; font-size: 14px; float: left;
}
.pChatPart .pChatR {
	background: url("../images/p47.gif") no-repeat 0px 0px; width: 23px; height: 45px; text-align: center; color: rgb(255, 153, 0); padding-top: 27px; font-size: 14px; font-weight: bold; float: right;
}
.proReviewSum {
	
}
.proReviewSum .d1 {
	background: rgb(255, 254, 241); padding: 8px 25px; border: 1px solid rgb(255, 215, 164); color: rgb(51, 51, 51); float:left; margin-bottom:20px; width:845px;
}
.proReviewSum .d1 .l {
	padding: 15px 0px; width: 67px; text-align: center; margin-right: 20px; float: left;
}
.proReviewSum .d1 .m {
	margin: 0px 15px 0px 0px; padding: 15px 5px 0px 15px; width: 270px; overflow: hidden; border-right-color: rgb(255, 215, 164); border-left-color: rgb(255, 215, 164); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left;
}
.proReviewSum .d1 .r {
	padding: 8px 0px 0px; width: 320px; color: rgb(102, 102, 102); overflow: hidden; float: left;
}
.proReviewSum .d1 .r .p1 {
	color: rgb(153, 153, 153); margin-bottom: 3px;
}
.proReviewSum .d1 .r .p2 {
	line-height: 22px;
}
.proReviewSum .d1 .r b {
	color: rgb(102, 51, 0); font-size: 14px;
}
.proReviewSum .d1 .btn {
	width: 105px; padding-top: 50px; float: right;
}
.proReviewSum .d1 .btn a {
	background: url("../images/pbtnReview.gif") no-repeat 0px 0px; width: 105px; height: 30px; overflow: hidden; float: right; cursor: pointer;
}
.proReviewSum .d1 .l span {
	font-size: 14px; display: block;
}
.proReviewSum .d1 .l .s1 {
	color: rgb(255, 102, 0); font-size: 24px; font-weight: bold; margin-bottom: 3px;
}
.proReviewSum .d1 .m .bar {
	width: 100%; clear: both; font-style: normal; margin-bottom: 10px; float: left;
}
.proReviewSum .d1 .m i {
	width: 45px; text-align: right; font-style: normal; float: left;
}
.proReviewSum .d1 .m .bar div {
	background: rgb(255, 255, 255); border: 1px solid rgb(206, 206, 205); width: 180px; font-style: normal; float: left;
}
.proReviewSum .d1 .m .bar div span {
	background: url("../images/pbar1.gif") repeat-x 0px 0px; height: 9px; overflow: hidden; float: left;
}
.proReviewSum .d1 .m b {
	width: 30px; padding-left: 5px; font-style: normal; font-weight: normal; float: left;
}
.proReviewSum .d2 {
	border: 1px solid rgb(232, 232, 232); height: 28px; line-height: 28px; margin-bottom: 10px;
}
.proReviewSum .d2 b {
	color: rgb(255, 102, 0); font-size: 16px;
}
.proReviewSum .d2 i {
	padding-left: 15px; font-style: normal; font-weight: bold;
}
.proReviewSum .d2 a {
	background: url("../images/p30.gif") no-repeat 0px 5px; padding: 3px 3px 3px 15px; margin-left: 15px; display: inline;
}
.proMsg {
	width: 920px; overflow: hidden; float:left; margin-top:-20px;
}
.proMsg .hd {
	height: 29px; overflow: hidden;
}
.proMsg .hd ul {
	width: 600px; clear: both; margin-left: 10px; float: left; display: inline;
}
.proMsg .hd li {
	background: url("../images/p10.gif") repeat-x 0px 0px; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(255, 204, 153) rgb(255, 204, 153) ; padding: 0px 10px; height: 28px; text-align: center; overflow: hidden; margin-right: 3px; float: left; display: inline-block; position: relative; overflow:hidden
}
.proMsg .hd li.trim1 {
	border: 0px ; width: 350px; text-align: right; color: rgb(153, 153, 153); line-height: 18px; margin-top: 5px; float: right;
}
.proMsg .hd li a {
	height: 30px; color: rgb(102, 102, 102); line-height: 30px; overflow: hidden; font-size: 14px; font-weight: bold;
}
.proMsg .hd li a em {
	font-family: "Arial"; font-size: 12px; font-style: normal;
}
.proMsg .hd li.cur {
	background: url("../images/p6.gif") repeat-x 0px 0px;
}
.proMsg .hd li.cur a {
	color: rgb(102, 51, 0);
}
.proMsg .bd {
	padding:0px 30px 5px;  color: rgb(51, 51, 51); border-top:1px solid rgb(255, 204, 153);
}
.proMsg .bd .item {
	display: none;
}
.proMsg .bd .p1 {
	height: 18px; line-height: 18px; overflow: hidden; margin-bottom: 5px;
}
.proMsg .bd .p2 {
	width: 100%; line-height: 18px;
}
.proMsg .bd .p2 .e1 {
	width: 39px; float: left;
}
.proMsg .bd .p2 .e2 {
	width: 878px; float: right;
}
.proReviewList {
	color: rgb(51, 51, 51);
}
.proReviewList i {
	font-style: normal; text-decoration: none;
}
.proReviewList s {
	font-style: normal; text-decoration: none;
}
.proReviewList b {
	font-style: normal; text-decoration: none;
}
.proReviewList .prL {
	width: 46px; height: 44px; text-align: center; margin-right: 20px; float: left; position: relative;
}
.proReviewList .prL br {
	margin: 0px; padding: 0px; height: 5px; overflow: hidden;
}
.proReviewList .prL span {
	left: 0px; top: 37px; width: 100px; height: 25px; overflow: hidden; float: right; position: absolute;
}
.proReviewList .prL span i {
	color: rgb(51, 51, 51); font-style: normal; margin-top: 5px; display: block;
}
.proReviewList .prL span i b {
	color: rgb(255, 102, 0); font-size: 16px;
}
.proReviewList .prL span s {
	color: rgb(51, 153, 0); font-style: normal; text-decoration: none; margin-top: 3px; display: block;
}
.proReviewList .prL span b {
	font-style: normal;
}
.proReviewList a:hover {
	text-decoration: underline;
}
.proReviewList .prL img.img1 {
	margin-bottom: 3px; display: block;
}
.proReviewList .prR {
	width: 790px; float: left;
}
.proReviewList .prR .p1 i {
	background: url("../images/p30.gif") no-repeat 0px 5px; padding-left: 18px; float: right;
}
.proReviewList .prR .p1 .gray {
	left: 0px; top: 0px; color: rgb(102, 102, 102); font-size: 13px; float: left; position: relative;
}
.proReviewList .prR .p1 .gray font {
	color: rgb(51, 153, 0); font-weight: bold; margin-right: 14px; display: inline;
}
.proReviewList .prR .p1 .gray b {
	color: rgb(51, 51, 51);
}
.proReviewList .prR .p1 i.ipphone {
	background: url("../images/pphone1.gif") no-repeat 0px;
}
.proReviewList .prR .p1 i.ipmobile {
	background: url("../images/pmobile1.gif") no-repeat 0px;
}
.proReviewList .prR .p1 i.ipinternet {
	background: url("../images/pinternet1.gif") no-repeat 0px;
}
.proReviewList .prR .p1 s {
	color: rgb(255, 102, 0);
}
.proReviewList .prR .p1 label {
	background: url("../images/p1.gif") no-repeat 0px 0px; top: -10px; width: 70px; height: 27px; text-align: center; right: -100px; color: rgb(255, 255, 255); line-height: 20px; font-size: 12px; position: absolute;
}
.proReviewList .prR .p1 label code {
	font-size: 16px; font-weight: bold;
}
.proReviewList li {
	width: 95%; padding-bottom: 15px; clear: both; margin-bottom: 15px; border-bottom-color: rgb(232, 232, 232); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.proReviewListTrim1 ul {
	margin-top: 15px; width:938px;
}
.proReviewListTrim1 li {
	width: 100%; padding-bottom: 10px; clear: both; margin-bottom: 15px; border-bottom-color: rgb(232, 232, 232); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.proReviewListTrim1 .prL {
	width: 50px; height: 50px; margin-right: 15px; float: left; display: none;
}
.proReviewListTrim1 .prR {
	width: 938px; float: left;
}
.proReviewListTrim1 .e1 {
	width: 70px; color: rgb(51, 51, 51); font-weight: bold; margin-right: 5px;
}
.proReviewListTrim1 .e2 {
	width: 120px; color: rgb(0, 51, 153); margin-right: 5px;
}
.proReviewListTrim1 a:hover {
	color: rgb(255, 102, 0); text-decoration: underline;
}
.proReviewListTrim1 .e3 {
	width: 120px; color: rgb(153, 153, 153); font-size: 13px;
}
.proReviewListTrim1 .p2 span {
	color: rgb(102, 102, 102);
}
.proReviewListTrim1 .e4 {
	width: 44px; height: 25px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; font-weight: bold; position: relative;
}
.proReviewListTrim1 .e4 i {
	left: 10px; top: -23px; width: 44px; height: 25px; text-align: center; font-style: normal; float: left; position: absolute; _top: -12px;
}
.proReviewListTrim1 .e4 em {
	font-size: 16px; font-style: normal; font-weight: bold;
}
.proReviewListTrim1 .msgStatus1 i {
	background: url("../images/p12.gif") no-repeat 0px 0px;
}
.proReviewListTrim1 .msgStatus2 i {
	background: url("../images/p18.gif") no-repeat 0px 0px;
}
.leaveMsg {
	 padding: 15px 30px 5px; width: 938px; color: rgb(51, 51, 51); clear: both; float: left; overflow:hidden
}
.leaveMsg p {
	width: 100%; clear: both; margin-bottom: 10px; float: left;
}
.leaveMsg p.p2 {
	display: none;
}
.leaveMsg label.label1 {
	width: 60px; text-align: left; color: rgb(51, 51, 51); padding-right: 15px; font-weight: bold; margin-top: 7px; float: left;
}
.leaveMsg label.label2 {
	width: 60px; text-align: left; color: rgb(51, 51, 51); padding-right: 15px; font-weight: bold; float: left;
}
.leaveMsg .s1 {
	width: 540px; float: left;
}
.leaveMsg .s2 {
	width: 81px; float: left;
}
.leaveMsg .s1 label input {
	
}
.leaveMsg .s1 input.input1 {
	padding: 5px 2px; border: 1px solid rgb(204, 204, 204); width: 195px;
}
.leaveMsg .s1 input.input2 {
	margin: 0px 3px 0px 0px; padding: 0px;
}
.leaveMsg textarea {
	padding: 2px 0px; border: 1px solid rgb(204, 204, 204); width: 520px; height: 100px;
}
.leaveMsg .s1 label {
	width: 520px; height: 18px; float: left;
}
.anpager {
	margin: 0px 0px 10px; padding: 5px 0px 0px 5px; text-align: left;
}
.anpager .cpb {
	background: rgb(31, 58, 135); margin: 5px 5px 0px 0px; padding: 4px 5px 0px; border: 1px solid rgb(204, 204, 204); color: rgb(255, 255, 255); font-weight: bold;
}
.anpager a {
	background: 0px 0px rgb(255, 255, 255); margin: 0px 10px 0px 0px; padding: 4px 7px 3px; border: 1px solid rgb(224, 224, 224); color: rgb(51, 51, 51); text-decoration: none; display: inline-block; zoom: 1;
}
.anpager span {
	background: rgb(231, 231, 231); margin: 5px 5px 0px 0px; padding: 5px 6px 4px; border: 0px ; color: rgb(255, 255, 255); text-decoration: none; display: inline-block;
}
.proReview .anpager {
	margin: 0px 0px -10px; padding: 5px 0px 10px 5px; text-align: left;
}
.proReview .anpager a {
	background: 0px 0px rgb(255, 255, 255); margin: -10px 10px 0px 0px; padding: 4px 7px 3px; border: 1px solid rgb(224, 224, 224); color: rgb(51, 51, 51); text-decoration: none; display: inline-block; zoom: 1;
}

.leaveMsgPop {
	border-radius: 5px; border: 2px solid rgb(140, 198, 63); left: 50%; top: 17%; width: 450px; color: rgb(102, 102, 102); font-family: "Arial"; margin-left: -225px; display: none; position: fixed; box-shadow: 2px 2px 2px #555; background-color: rgb(255, 255, 255);
}
.leaveMsgPop .close {
	background: url("../images/p52.gif") no-repeat 0px 0px; margin: 7px 7px 0px 0px; width: 21px; height: 23px; right: 0px; float: right; position: absolute; cursor: pointer;
}
.leaveMsgPop .d1 {
	background: url("../images/p51.gif") no-repeat 30px; margin: 35px 0px; padding: 0px 0px 0px 95px; line-height: 21px; display: none;
}
.leaveMsgPop .d2 {
	background: url("../images/p51.gif") no-repeat 30px; margin: 35px 0px; padding: 0px 0px 0px 95px; line-height: 21px; display: none;
}
.leaveMsgPop .d3 {
	background: url("../images/p51.gif") no-repeat 30px; margin: 35px 0px; padding: 0px 0px 0px 95px; line-height: 21px; display: none;
}
.leaveMsgPop .d4 {
	background: url("../images/p51.gif") no-repeat 30px; margin: 35px 0px; padding: 0px 0px 0px 95px; line-height: 21px; display: none;
}
.leaveMsgPop .d3 {
	background: url("../images/p56.gif") no-repeat 30px 10px;
}
.leaveMsgPop .d4 {
	background: url("../images/p56.gif") no-repeat 30px 10px;
}
.leaveMsgPop .d3 p a {
	color: rgb(255, 102, 0);
}
.leaveMsgPop .d4 p a {
	color: rgb(255, 102, 0);
}
.leaveMsgPop .d3 b {
	font-size: 14px;
}
.leaveMsgPop .d4 b {
	font-size: 14px;
}
.leaveMsgPop .d1 a {
	color: rgb(255, 153, 0); text-decoration: underline;
}
.leaveMsgPop .d2 a {
	color: rgb(255, 153, 0); text-decoration: underline;
}
.leaveMsgPop .d1 b {
	color: rgb(255, 153, 0); font-size: 14px;
}
.leaveMsgPop .d2 b {
	color: rgb(255, 153, 0); font-size: 14px;
}