
/***新旅游计划***/
.menuPart{position:relative; z-index:1000;float: left;width: 222px;}
.menuPart .gty2{position:absolute; left:0; top:0px; width:802px; display:none;z-index:1010;height:auto;background-color:#CC0000}
.menuPart a:hover{text-decoration:underline;color:#FF6600;}
.title_11{  overflow:hidden; }
.menuPart .gtyleft1{float:left; width:141px; z-index:1000;  position:absolute; top:42px; height:33px;overflow:hidden;}
.menuPart .gtyleft2{float:left; width:141px; z-index:1000; position:absolute; top:80px; height:33px;overflow:hidden;}
.menuPart .gtyleft3{float:left; width:141px; z-index:1000; position:absolute; top:118px;height:33px;overflow:hidden; }
.menuPart .gtyleft4{float:left; width:141px; z-index:1000; position:absolute; top:156px; height:33px;overflow:hidden;}
.menuPart .gtyleft5{float:left; width:141px; z-index:1000; position:absolute; top:194px; height:33px;overflow:hidden;}
.menuPart .gtyleft6{float:left; width:141px; z-index:1000; position:absolute; top:232px; height:33px;overflow:hidden;}

.menuPart .gty2 .gtylefttop{padding-left:22px; background:#fff url(../images/searchformbg2.gif) no-repeat 10px 13px;height:31px; line-height:31px; font-size:14px; border:1px solid #ffac04;border-right:1px solid #fff; margin-left:3px;overflow:hidden;width:115px;float:left;clear:both;display:inline;font-weight:bold;cursor:pointer;}
.menuPart .gty2 .gtylefttop a{color:#ff6600;}
.menuPart .gty2 .gtylefttop a:hover{text-decoration:underline;}
#dvmenu6{display:none;}

.indexpart01left{float: left;width: 170px;margin-bottom:10px;}
.subPartLeft{position:relative;z-index:1000;height:30px;}
.subPartLeft .menuPart{position:absolute;left:0;top:0;}
.subPartLeft .menuPart .part01left_top{height:30px;}

.part01center{z-index:1;position:relative;}

.menuPart .part01lt{border-bottom:1px solid #ffe69b;padding:1px;padding-bottom:0;overflow:hidden;background:#ffe99b;width:166px;overflow:hidden;height:28px;}
.menuPart .part01lt h1{height:29px; line-height:29px; padding-left:10px; font-size:14px; color:#783f15; font-weight:bold;float:left;width:156px;}
.subPartLeft .h1{cursor:pointer;}

.subPartLeft h1 i{float:right;background:url(../images/down.png) no-repeat right center;width:18px;height:18px;margin:5px 5px 0 0;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="../images/down.png"); _background:none;}
.subPartLeft h1 i.on{background:url(../images/up.png) no-repeat right center;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="../images/up.png"); _background:none;}


.menuPart .part01left_top{  height:auto; overflow:hidden;position:relative;}
.menuPart .part01left_top ul{top:39px;left:0}
.menuPart .part01left_top ul li{padding-left:13px;  height:37px; line-height:37px; font-size:14px;overflow:hidden;width:42px;float:left;display:inline;}
.menuPart .part01left_top ul li:hover{background:#ff6600;}
.menuPart .part01left_top ul li:hover a{color:#fff; text-decoration:none;}
.menuPart .part01left_top ul li.trim1{border-bottom:0;}
.menuPart .part01left_top ul li a{display:block;font-size:14px;  padding-right:10px;}
.menuPart .leftbot{border-top:3px solid #e8e8e8; width:148px;border-left:1px solid #FF9400;}
.menuPart .gtyright{float:left; width:556px;  z-index:100;}
.menuPart .top_gentuan{position:absolute; left:140px; top:42px;}
.menuPart .top_zizhu{position:absolute; left:140px; top:80px;}
.menuPart .top_zhuanxian{position:absolute; left:140px; top:118px;}
.menuPart .gtyrighttop{border:1px solid #ffaa00; width:555px;overflow:hidden;}

.menuPart .rightl{float:left; width:520px; background:#fff; padding:5px 20px 10px;  overflow:hidden;}
.menuPart .lvyoucnname{ padding:10px 0 10px; width:520px; clear:both;background:url(../images/dot2.gif) repeat-x 0 bottom;float:left;}
.menuPart .rightr{float:left; width:155px;padding:5px 0 10px 10px; overflow:hidden;}
.menuPart .citytitle{font-weight:bold; color:#333; font-size:14px; padding-bottom:5px; padding-left:8px; padding-top:8px;height:20px;clear:both;}

.menuPart .citytitle .a1{float:left;width:125px;}
.menuPart .citytitle .a2{font-size:12px;float:right;width:75px;font-weight:normal;color:#71AF17;}
.menuPart .citytitle2{font-weight:bold; color:#71af17; padding-bottom:0; padding-left:8px; padding-top:10px;height:20px;float:left;clear:both;width:140px;}
.menuPart .cityname{float:left; width:60px;padding-left:0;}
.menuPart .cityulli{float:left; width:460px; }
.menuPart .cityulli ul li,.cityname2 ul li{float:left; padding:0px 0 2px; white-space:nowrap;width:460px;}
.menuPart .cityulli ul li a{float:left; display:block; color:#333; border-right:1px solid #ccc; padding-left:8px; padding-right:8px;margin-bottom:6px;}
.menuPart .cityulli ul li a:hover{color:#FF6600;}
.menuPart .cityname a,.cityname2 a{font-size:12px; font-weight:bold; color:#80c000; }
.menuPart .cityname a:hover,.cityname2 a:hover{color:#269add;}
.menuPart .cityulli ul li a.noborder,.cityname2 ul li a.noborder{border:none;}
.menuPart .gtyrightbot{border-top:3px solid #e8e8e8;}
.menuPart .rtrcont{padding-bottom:10px;float:left;clear:both;width:155px;overflow:hidden;}
.menuPart .rtrcont ul li{height: 20px;line-height: 20px;padding-left: 8px;float:left;width:60px;}
.menuPart .leftcont02{padding:8px 15px 8px 10px; border-bottom:1px dashed #DFDFDF;}
.menuPart .leftname02{font-size:12px; font-weight:bold; color:#80c000; padding-bottom:3px;}
.menuPart .leftname02 a{color:#80c000;}
.menuPart .lefttext02{line-height:20px; color:#666;}
.menuPart .lefttext02 a{color:#333;}
.menuPart .lefttext02 a:hover{color:#ff6600;}
.menuPart .leftname02 span a{font-size:12px; font-weight:lighter; color:#71af17;}
.menuPart .leftname02 span a:hover{color:#FF6600;}

.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}



#col_side {
	width: 275px; float: right;
}
.col_side_o {
	border: 1px solid rgb(254, 199, 153); width: 222px; 
}
.col_side_o a:link {
	text-decoration: none;
}
.col_side_o a:visited {
	text-decoration: none;
}
.col_side_o a:hover {
	text-decoration: none;
}
.col_side_o a.cred:hover {
	color: rgb(255, 0, 0);
}
.col_side_o a.cgreen:hover {
	color: rgb(255, 0, 0);
}
.col_side_o a.cblue:hover {
	color: rgb(255, 0, 0);
}
.col_side_o h2 {
 width: 222px; height: 25px; color: rgb(204, 51, 0); line-height: 25px; padding-left: 10px; font-size: 14px; font-weight: bold; border-bottom-color: rgb(254, 199, 153); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.col_side_head {
	width: 212px; height: 25px; color: rgb(204, 51, 0); line-height: 25px; padding-left: 10px; font-size: 14px; font-weight: bold; border-bottom-color: rgb(254, 199, 153); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.col_side_o h2 a {
	padding-right: 10px; font-size: 13px; font-weight: normal; position: absolute;
}
.col_side_head a {
	padding-right: 10px; font-size: 13px; font-weight: normal; position: absolute;
}
.col_side_o h2 a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.col_side_o h2 a:visited {
	color: rgb(102, 102, 102); text-decoration: none;
}
.col_side_o h2 a:hover {
	color: rgb(102, 102, 102); text-decoration: none;
}
.col_side_head a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.col_side_head a:visited {
	color: rgb(102, 102, 102); text-decoration: none;
}
.col_side_head a:hover {
	color: rgb(102, 102, 102); text-decoration: none;
}

.show-hide {
	margin: 0px auto; width: 222px; overflow: hidden; _zoom: 1;
}
.show-hide li {
	padding: 5px 5px; width: 222px; height: 20px; line-height: 20px; overflow: hidden; margin-top: -1px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dashed; float: left;
}
.show-hide li.show_over {
	padding: 10px 5px; height: 78px;
}
.show-hide a:link {
	color: rgb(78, 151, 0);
}
.show-hide a:visited {
	color: rgb(78, 151, 0);
}
.show-hide a:hover {
	color: rgb(255, 153, 0);
}
.pic_link:link {
	width: 75px; height: 68px; overflow: hidden; float: left; display: none;
}
.pic_link:visited {
	width: 75px; height: 68px; overflow: hidden; float: left; display: none;
}
.pic_link img {
	vertical-align: top;
}
.s_h_w {
	line-height: 20px; overflow: hidden; float: left;
}
.s_h_w2 {
	line-height: 20px; overflow: hidden; float: left;
}
.show_over .s_h_w {
	width: 143px; overflow: hidden; float: right;
}
.show_over .s_h_w2 {
	width: 143px; overflow: hidden; float: left;
}
.show_over .s_h_w2 {
	width: 123px;
}
.s_h_w a:link {
	margin-right: 10px; float: left; display: block;
}
.s_h_w a:visited {
	margin-right: 10px; float: left; display: block;
}
.s_h_w2 a:link {
	margin-right: 10px; float: left; display: block;
}
.s_h_w2 a:visited {
	margin-right: 10px; float: left; display: block;
}
.dengji {
	float: left; display: none; white-space: nowrap;
}
.dengji span {
	float: left;
}
.yprice .cgrey2 {
	display: none;
}
.yprice {
	float: left; display: block; white-space: nowrap;
}
.show_over .s_h_w a {
	clear: both;
}
.show_over .s_h_w2 a {
	clear: both;
}
.show_over .dengji {
	clear: both;
}
.show_over .yprice {
	clear: both;
}
.show_over .s_h_w a:link {
	margin-right: 0px;
}
.show_over .s_h_w a:visited {
	margin-right: 0px;
}
.show_over .s_h_w2 a:link {
	margin-right: 0px;
}
.show_over .s_h_w2 a:visited {
	margin-right: 0px;
}
.show_over .dengji {
	display: block;
}
.show_over .yprice .cgrey2 {
	display: inline;
}
.show_over .pic_link:link {
	display: block;
}
.show_over .pic_link:visited {
	display: block;
}
.ymargin .cgrey2 {
	display: none;
}
.show_over .ymargin .cgrey2 {
	display: inline;
}
.ynum {
	width: 15px; float: left; font-family:Geneva, Arial, Helvetica, sans-serif; color:#FF6600; font-weight:bold
}
#recall_list_w {
	margin: 0px auto; width: 258px; height: 180px; overflow: hidden; position: relative;
}
.recall_list {
	left: 0px; top: 0px; width: 258px; overflow: hidden; position: absolute;
}
.recall_list li {
	padding: 5px 0px; width: 100%; line-height: 20px; border-top-color: rgb(191, 218, 208); border-top-width: 1px; border-top-style: dotted; float: left;
}
.rc_last {
	margin: 0px auto; padding: 5px 0px; width: 258px; height: 20px; line-height: 20px; overflow: hidden; border-top-color: rgb(191, 218, 208); border-top-width: 1px; border-top-style: dotted;
}
.recall_sf {
	background-position: -154px -1035px; width: 40px; height: 20px; text-align: center; color: rgb(102, 102, 102); padding-top: 18px; float: right; display: block; background-repeat: no-repeat;
}
.recall_list a:link {
	width: 215px; color: rgb(102, 102, 102); float: left; display: block;
}
.recall_list a:visited {
	width: 215px; color: rgb(102, 102, 102); float: left; display: block;
}
.recall_list a:hover {
	color: rgb(255, 0, 0);
}
#satisf {
	margin: 0px auto; width: 222px; height: 67px; overflow: hidden;
}
#satisf dt {
	color: rgb(255, 102, 0); font-weight: bold; float: left;
}
#satisf dd {
	color: rgb(255, 102, 0); font-weight: bold; float: left;
}
#satisf dt {
	width: 100px; height: 20px; line-height: 1; padding-left:10px; padding-top: 21px; font-size: 18px; white-space: nowrap;
}
#satisf dd {
	width: 100px; height: 70px; text-align: right; line-height: 1.2; font-size: 40px; font-family:Geneva, Arial, Helvetica, sans-serif;
}
#satisf dt a {
	font-size: 12px; font-weight: normal; margin-left: 15px;
}
.youji_search {
	background-position: 0px -553px; padding: 4px 0px 0px 5px; height: 32px; background-repeat: repeat-x;
}
.youji_search a:link {
	font-size: 12px; text-decoration: underline; margin-right: 2px;
}
.youji_search a:visited {
	font-size: 12px; text-decoration: underline; margin-right: 2px;
}
.youji_input {
	padding: 3px 2px; border: 1px solid rgb(153, 153, 153); width: 76px; color: rgb(102, 102, 102); line-height: 18px; margin-right: 5px; float: left;
}
.youji_btn {
	margin-right: 8px; float: left;
}
.news ul {
	margin: 2px auto 0px; width: 222px; overflow: hidden;
}
.news li {
	 height: 28px; color: rgb(102, 102, 102); line-height: 28px; overflow: hidden; padding-left: 12px;  margin-top: -1px; border-top-color: rgb(191, 218, 208); border-top-width: 1px; border-top-style: dotted;
}
.news li a:link {
	color: rgb(102, 102, 102);
}
.news li a:visited {
	color: rgb(102, 102, 102);
}
.news li a:hover {
	color: rgb(255, 102, 0);
}
.news .col_side_head {
	width: 212px; overflow: hidden; padding-left: 10px; _zoom: 1;
}
.news .col_side_head a:link {
	height: 25px; color: rgb(204, 51, 0); line-height: 25px; padding-right: 0px; font-size: 14px; font-weight: bold; float: left; position: static;
}
.news .col_side_head a:visited {
	height: 25px; color: rgb(204, 51, 0); line-height: 25px; padding-right: 0px; font-size: 14px; font-weight: bold; float: left; position: static;
}
.news .col_side_head a:hover {
	color: rgb(204, 51, 0);
}
.img_news {
	margin: 10px auto 0px; width: 222px; height: 80px; color: rgb(153, 153, 153); line-height: 19px; overflow: hidden; display: block;
}
.img_news_l {
	margin: 0 5px; float: left;
}
.img_news_l img {
	vertical-align: top;
}
.img_news_r {
	width: 137px; height: 76px; overflow: hidden; float: right;
}
.img_news_r a:link {
	color: rgb(255, 0, 0);  text-decoration: underline;
}
.img_news a:visited {
	color: rgb(255, 0, 0);  text-decoration: underline;
}
.img_news_r a:hover {
	text-decoration: underline;
}
#lipin {
	padding: 7px 10px 6px; border: 1px solid rgb(254, 199, 153); height: 100px; color: rgb(255, 102, 0); overflow: hidden; margin-bottom: 10px; position: relative;
}
.lipin_head {
	line-height: 15px;
}
.lp-tel {
	color: rgb(153, 153, 153); float: left;
}
.lipin_head a:link {
	color: rgb(92, 115, 29); font-size: 12px; font-weight: normal; text-decoration: none; margin-right: 5px; float: left;
}
.lipin_head a:visited {
	color: rgb(92, 115, 29); font-size: 12px; font-weight: normal; text-decoration: none; margin-right: 5px; float: left;
}
.lipin_head a:hover {
	color: rgb(92, 115, 29); font-size: 12px; font-weight: normal; text-decoration: none; margin-right: 5px; float: left;
}
#lipin ul {
	overflow: hidden; padding-top: 10px; _zoom: 1;
}
#lipin li {
	text-align: center; line-height: 1.6; margin-right: 9px; float: left;
}
#lipin li img {
	vertical-align: top;
}
#lipin li.lp-last {
	margin-right: 0px;
}



.cl_w {
	width: 170px; height: 46px; margin-top: 10px; background-repeat: no-repeat;
}
.cr_w {
	width: 170px; height: 46px; margin-top: 10px; background-repeat: no-repeat;
}
.cl_w {
	background-position: 0px -657px; position: relative; z-index: 10;
}
.cr_w {
	background-position: 0px -703px;
}
.cl_w .cgrey:link {
	width: 170px; height: 46px; line-height: 46px; text-indent: 50px; font-size: 14px; font-weight: bold; text-decoration: none; display: block;
}
.cl_w .cgrey:visited {
	width: 170px; height: 46px; line-height: 46px; text-indent: 50px; font-size: 14px; font-weight: bold; text-decoration: none; display: block;
}
.cr_w .cgrey:link {
	width: 170px; height: 46px; line-height: 46px; text-indent: 50px; font-size: 14px; font-weight: bold; text-decoration: none; display: block;
}
.cr_w .cgrey:visited {
	width: 170px; height: 46px; line-height: 46px; text-indent: 50px; font-size: 14px; font-weight: bold; text-decoration: none; display: block;
}
.cl_w_on {
	box-shadow: 2px 0px 3px #999; -moz-box-shadow: 2px 0 6px #999; -webkit-box-shadow: 2px 0 6px #999;
}
.cl_w_on .cgrey:link {
	background-position: 0px -954px; left: 0px; top: 0px; width: 171px; color: rgb(255, 153, 0); position: absolute; z-index: 10; cursor: default; background-repeat: no-repeat;
}
.cl_w_on .cgrey:visited {
	background-position: 0px -954px; left: 0px; top: 0px; width: 171px; color: rgb(255, 153, 0); position: absolute; z-index: 10; cursor: default; background-repeat: no-repeat;
}
.card_list_w {
	background: rgb(255, 255, 255); padding: 0px 10px; border-radius: 0px 5px 5px; border: 1px solid rgb(138, 134, 98); left: 170px; top: 0px; width: 305px; overflow: hidden; display: none; position: absolute; z-index: 9; box-shadow: 0px 0px 3px #999; -moz-box-shadow: 0 0 6px #999; -webkit-box-shadow: 0 0 6px #999;
}
.cl_w_on .card_list_w {
	display: block;
}
.card_block {
	padding: 10px 0px; width: 305px; margin-top: -1px; border-top-color: rgb(224, 224, 224); border-top-width: 1px; border-top-style: dashed;
}
.card_pic {
	float: left;
}
.card_r {
	width: 175px; height: 76px; float: right; position: relative;
}
.card_r dl {
	line-height: 18px;
}
.card_r dd {
	color: rgb(102, 102, 102);
}
.card_btn:link {
	background-position: 0px -906px; width: 68px; height: 21px; text-align: center; right: 3px; bottom: -2px; color: rgb(255, 255, 255); line-height: 21px; font-weight: bold; text-decoration: none; display: block; position: absolute; background-repeat: no-repeat;
}
.card_btn:visited {
	background-position: 0px -906px; width: 68px; height: 21px; text-align: center; right: 3px; bottom: -2px; color: rgb(255, 255, 255); line-height: 21px; font-weight: bold; text-decoration: none; display: block; position: absolute; background-repeat: no-repeat;
}
.card_btn:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.route_box {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(230, 230, 230) rgb(230, 230, 230); width: 533px; overflow: hidden;
}


.site_list {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(222, 222, 222) rgb(222, 222, 222); line-height: 35px; margin-top: 10px; float:left; overflow:hidden
}

.site_list_head {
	background: url("../images/spr_main.png") repeat-x left -185px; padding: 0px 10px; height: 35px; font-size: 14px; float:left; width:148px;
}
.site_list_nav { }
.site_list_nav li {
	font-weight: bold; border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: solid; width:168px; float:left; padding-top:10px; overflow:hidden
}
.site_list_nav li img{ width:148px; height:80px;}
.site_list_nav li a {
	color: rgb(78, 151, 0); padding-left: 10px; text-decoration: none; display: block;
}
.site_list_nav li a:hover {
	background: rgb(248, 248, 248); color: rgb(255, 102, 0);
}
.site_list_nav li a span {
	color: rgb(94, 94, 93); font-weight: normal; margin-left: 5px;
}



.sub_t1 {
	margin: 0px auto; padding: 5px 0px 0px; width: 495px; line-height: 22px; font-size: 14px; font-weight: normal; position: relative;
}
.sub_t2 {
	margin: 0px auto; padding: 5px 0px 0px; width: 495px; line-height: 22px; font-size: 14px; font-weight: normal; position: relative;
}
.sub_t2 {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dotted;
}
.sub_t1 a {
	top: 5px; right: 0px; font-size: 12px; position: absolute;
}
.sub_t2 a {
	top: 5px; right: 0px; font-size: 12px; position: absolute;
}
.sub_t1 a:link {
	text-decoration: none;
}
.sub_t1 a:visited {
	text-decoration: none;
}
.sub_t1 a:active {
	text-decoration: none;
}
.sub_t2 a:link {
	text-decoration: none;
}
.sub_t2 a:visited {
	text-decoration: none;
}
.sub_t2 a:active {
	text-decoration: none;
}
.sub_t1 a:hover {
	text-decoration: underline;
}
.sub_t2 a:hover {
	text-decoration: underline;
}
.command_list {
	margin: 3px 0px 0px 15px; padding: 0px 0px 5px; width: 510px;
}
.command_list b{ color:#FF6600; font-weight:normal}
.command_list li {
	width: 102px; float: left; display: inline;
}
.command_list p {
	width: 95px; height: 18px; overflow: hidden; white-space: nowrap;
}
.command_img img {
	vertical-align: top;
}
.command_info {
	margin: 5px 0px 0px; color: rgb(102, 102, 102); line-height: 18px;
}
.command_info a:link {
	color: rgb(74, 174, 0); text-decoration: none;
}
.command_info a:visited {
	color: rgb(74, 174, 0); text-decoration: none;
}
.command_info a:active {
	color: rgb(74, 174, 0); text-decoration: none;
}
.command_info a:hover {
	color: rgb(255, 102, 0);
}

.cdyellow {
	color: rgb(255, 102, 0);
}
a.cdyellow:link {
	color: rgb(255, 102, 0);
}
a.cdyellow:visited {
	color: rgb(255, 102, 0);
}
.jd_ftxtip {
	height: 16px; color: rgb(255, 102, 0); line-height: 16px; display: inline-block;
}


.left_list {
	margin: 0px 0px 10px; border: 1px solid rgb(230, 230, 230); width:220px; overflow:hidden
}
.left_list_title {
	background-position: 0px -1638px; padding: 0px 10px; height: 31px; color: rgb(0, 0, 0); line-height: 31px; font-size: 14px; font-weight: 700; position: relative; background-repeat: repeat-x;
}
.left_list_title {
	background-image: url("../images/spr_main1.png");
}
.left_title{
	background-position: 0px -1638px; padding: 0px; height: 31px; color: rgb(0,0,0);line-height: 31px; font-size: 14px; font-weight: 700; position: relative; background-repeat: repeat-x;
}
.w_sel {
	padding: 0px 7px;
}
.w_sel li s {
	background-image: url("../images/spr_main1.png?v=11");
}
.w_sel li {
	padding: 10px 0px; color: rgb(94, 94, 94); border-bottom-color: rgb(210, 210, 210); border-bottom-width: 1px; border-bottom-style: dotted; position: relative;
}
.w_sel li.w_li_last {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.w_sel li span {
	width: 135px; padding-left: 25px; display: block;
}
.w_sel li s {
	left: 0px; top: 10px; width: 18px; height: 18px; display: block; position: absolute;
}
.w_sel li s.dijia {
	background-position: 0px -1223px;
}
.w_sel li s.zyfw {
	background-position: 0px -1249px;
}
.w_sel li s.sdbz {
	background-position: 0px -1275px;
}
.w_sel li s.cpff {
	background-position: 0px -1305px;
}
.w_sel li s.bwc {
	background-position: 0px -1326px;
}
.w_sel li s.bjyh {
	background-position: 0px -1354px;
}
.w_sel li s.wfee {
	background-position: 0px -1378px;
}
.w_sel li s.xctm {
	background-position: 0px -1403px;
}
.w_sel li s.fw24 {
	background-position: 0px -1430px;
}


.interact_us li span {
	background-image: url("../images/spr_main1.png?v=11");
}
.interact_us {
	padding: 0px 7px;
}
.interact_us li {
	padding: 10px 0px; color: rgb(94, 94, 94); border-bottom-color: rgb(210, 210, 210); border-bottom-width: 1px; border-bottom-style: dotted; position: relative;
}
.interact_us li.interact_last {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.interact_us li a {
	color: rgb(78, 151, 0) !important;
}
.interact_us li a:hover {
	color: rgb(255, 153, 51) !important;
}
.interact_us li span {
	left: 0px; top: 10px; width: 40px; height: 40px; display: block; position: absolute;
}
.interact_us li span.tn_weibo {
	background-position: -2px -1555px;
}
.interact_us li span.tn_tencent {
	background-position: -45px -1555px;
}
.interact_us li span.tn_kaixin {
	background-position: -88px -1555px;
}
.interact_us li span.tn_weibo a {
	width: 40px; height: 40px; display: inline-block;
}
.interact_us li span.tn_tencent a {
	width: 40px; height: 40px; display: inline-block;
}
.interact_us li span.tn_kaixin a {
	width: 40px; height: 40px; display: inline-block;
}

.pl_50 {
	padding-left: 50px;
}


.event_list li {
	margin: 0px 7px; height: 99px; vertical-align: bottom; border-bottom-color: rgb(191, 218, 208); border-bottom-width: 1px; border-bottom-style: dotted;
}
.event_list li.last {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: dotted;
}
.event_img {
	margin: 7px 10px 0px 0px; float: left;
}
.event_des {
	margin: 12px 0px 0px; width: 143px; height: 40px; color: rgb(138, 134, 98); overflow: hidden; float: left; margin-bottom:0px;
}
.event_dess {
	margin:  0px; width: 143px; height:20px; color: rgb(138, 134, 98); overflow: hidden; float: left;
}
.event_dess strong{ color:#FF6600; font-size:14px; font-family:"Microsoft Yahei";}





.topbanner {
	margin-left:10px;
	
	width: 770px; height: 317px; overflow: hidden; position: relative;
}
.bannertext{position:absolute; top:290px; left:0px; width:771px;overflow:hidden;}

.bannertext ul{width:770px;}

.bannertext ul li{float:left; border-right:1px solid #ffffff; }

.bannertext ul li.width105 a{width:133px;}

.bannertext ul li.noborder{border:none;}

.bannertext ul li a{font-size:12px; color:#FFFFFF; float:left; display:block; height:26px; line-height:26px; padding-top:2px; text-align:center; width:189px; background:none; background:#000000; filter:alpha(opacity=70); z-index:1; display:block; cursor:pointer; overflow:hidden}

.bannertext ul li a:hover{background:#8ac42e; filter:alpha(opacity=70); color:#000;opacity:0.7;}

.bannertext ul li a.on{background:#8ac42e; filter:alpha(opacity=70); color:#000;opacity:0.7;}

.bannertext ul li.width105 a:hover{width:133px;}




.indexad{ float:left; margin-top:10px;}
.indexad img{ width:170px;}







.inThemePad {
	BORDER-BOTTOM: #fec799 0px solid; TEXT-ALIGN: center; BORDER-LEFT: #fec799 1px solid; PADDING-BOTTOM: 10px; WIDTH: 208px; BORDER-TOP: #fec799 0px solid; BORDER-RIGHT: #fec799 1px solid
}
.inThemePad LI {
	PADDING-TOP: 10px
}
.inThemePads {
	BORDER-BOTTOM: #fec799 0px solid; BORDER-LEFT: #fec799 1px solid; PADDING-BOTTOM: 10px; WIDTH: 208px; ZOOM: 1; OVERFLOW: hidden; BORDER-TOP: #fec799 0px solid; BORDER-RIGHT: #fec799 1px solid
}
.inThemePads LI {
	TEXT-ALIGN: center; WIDTH: 104px; FLOAT: left
}

.iad{ float:left; margin-top:10px;}
.iad img{ width:533px;}

.index_lst{ float:left; width:272px;}

.index_lst li{ float:left; width:272px; height:90px;BACKGROUND: url(../images/right1.gif) repeat-x;}
.index_lst li i{ float:left; font-size:60px; color: #FFCC00;  font-style:normal; margin-top:10px; margin-left:5px; }
.index_lst li span{ float:left; margin-left:5px; width:145px; color:#FFFFFF; margin-top:20px; line-height:20px;}

.index_lst li  img{ float:left; border:1px solid #ccc; margin-top:15px;}
.index_lst li a{ cursor:pointer}


.r_login_inner {
	padding: 10px 0px 10px 3px; border: 1px solid rgb(234, 234, 234); background-color: rgb(242, 242, 242); width:270px; overflow:hidden
}
.free_reg {
	background: url("../images/w275.png?v1") no-repeat; margin: 0px 5px; width: 123px; height: 35px; text-indent: -20000em; float: left; display: block; _margin: 0 3px;
}
.u_login {
	background: url("../images/w275.png?v1") no-repeat; margin: 0px 5px; width: 123px; height: 35px; text-indent: -20000em; float: left; display: block; _margin: 0 3px;
}
.free_reg {
	background-position: 0px -27px;
}
.free_reg:hover {
	background-position: 0px -62px; color: rgb(255, 102, 0);
}
.u_login {
	background-position: -133px -27px;
}
.u_login:hover {
	background-position: -133px -62px; color: rgb(255, 102, 0);
}


.indxl{ float:left; border: 1px solid rgb(254, 199, 153);width:273px; background-color:#fffae9}
.indxl li { width:250px; float:left; height:25px; line-height:25px; margin-left:10px; color:#999;}
.indxl li span{ float:left; color:#009900}
.indxl li h3{ float:left; margin:0px; padding:0px; color:#009900;font-size:12px}

.indxl_a{ float:left; margin-top:10px; border-top:1px dashed #06C; width:200px; margin-left:7px; padding-top:5px;}
.indxl_a a{ margin-left:15px; float:left; width:80px; margin-top:5px;}



.inCommentTit {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px;HEIGHT: 27px; COLOR: #f60; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px; width:270px; height:31px;
}
.inCommentText {
	 PADDING-BOTTOM: 0px; PADDING-LEFT: 10px;  PADDING-RIGHT: 10px; PADDING-TOP: 0px; width:202px;
}
.inCommentList {
	BORDER-BOTTOM: #ddd 1px dotted; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 202px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 10px
}
.inCommentList P {
	HEIGHT: 18px; COLOR: #555
}
.inCommentList .title {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; ZOOM: 1; HEIGHT: 45px; OVERFLOW: hidden
}
.inCommentList .title .t1 {
	WIDTH: 53px; BACKGROUND: #a2c922; FLOAT: left; COLOR: #fff
}
.inCommentList .title .t1 B {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 18px; DISPLAY: block; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #fff; HEIGHT: 18px; COLOR: #f60; BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 1px solid
}
.inCommentList .title .t2 {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; WIDTH: 140px; FLOAT: right
}
.inCommentList .title .t2 A {
	COLOR: #0066cc
}
.inCommentList .contentTie {
	LINE-HEIGHT: 0px;HEIGHT: 8px; FONT-SIZE: 0px
}
.inCommentList .contentText {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 17px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #f9f9f9; COLOR: #777; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 4px
}
.inCommentList .contentEnd {
	LINE-HEIGHT: 0px; HEIGHT: 2px; FONT-SIZE: 0px
}
.inCommentEnd {
	 HEIGHT: 3px; FONT-SIZE: 0px; width:276px; display:block; overflow:hidden
}
.middle1{
	margin-top:10px;margin-left:10px; float:left;left:auto;width:100%; height: 370px;  position:relative;
	
	}
.middle2{
	margin-top:10px;margin-left:10px; float:left;left:auto;width:100%;  position:relative;
	}
.middletop{
	width:189px;
	height:155px;
	float:left;
	position:relative
	}
.middle01{
	
	float:left;
	margin-top:5px;
	height:35px;
	width:100%;
	font-size:18px;	
	margin-left:2px;
	float:left
	}
#middlebottom
{
	border-bottom:solid 2px  #A5D27F;
	color:#639F22;
	}
#t1{
	width:100%;
	color:#639F22;
	
	}
#t2{
	width:100%;
	
	height:92%;
	}

.middle01 a:visited
{
	color:#639F22;
	
}
.middle01 a:link{color:rgb(78,151,0);}

.middle02{float:left;margin-top:5px;height:160px;width:100%;font-size:18px;padding-left:2px;float:left;overflow:hidden;position:relative; font-size:12px;}

.mlileft{margin-top:2px;margin-left:2px;float:left;width:25%;height:95%;}

.mliright{float:left; margin-left:15px;width:50%;height:100%;margin-top:2px; }

ul{margin:0px;padding:0px;}

li{margin:0px;padding:0px;}

.left_title a{ margin-left:10px; color:#F60}
.city_fege{ margin:0 5%; width:90%; height:10px; border-bottom:1px solid #ccc; }
.mliright01{margin-top:1px; color:#06F;}
.p__{color:#FC6700; font-size:12px;}
#pin{ font-size:22px;}
.ping{ border: solid  #FC6700 1px;  width:110px; height:27px; position:relative; text-align:center; margin-top:10px;}
.pinga{ color:#FC6700;   width:50%; border-right:solid #FC6700 1px ; }
.pingb{ color:#FFF;  width:50%; background-color:#FC6700; }
.mliright_r{float:left;width:20%;height:98%; position:relative; margin-top:40px; }
.mcolor{ color:#FC6700;}

.mliright__{width:100%;color:#999; clear:both;}
.middle01 .tj{ border-bottom:2px #75bf46 solid}
.middle01 .shty_top .tj_tit{color:#75bf46;}
.middle01 .gt{ border-bottom:2px #ff6666 solid}
.middle01 .shty_top .gt_tit{color:#ff6666;}
.middle01 .zz{ border-bottom:2px #3299fe solid}
.middle01 .shty_top .zz_tit{color:#3299fe;}
.middle01 .zj{ border-bottom:2px #9a99ff solid}
.middle01 .shty_top .zj_tit{color:#9a99ff;}
.middle01 .shty_top{ height:35px;line-height:35px;}
.middle01 .shty_top .title{float:left;  font-size:20px;  font-family:'微软雅黑'; width:170px; height:35px;  font-weight:bold}
.middle01 .shty_top .down_store li{float:left; height:25px; text-align:center; width:50px; margin:0 25px; line-height:25px;}
.middle01 .shty_top .down_store .city{ margin:0 10px;}
.middle01 .shty_top .down_store .moren{ margin-left:25px;  margin-right:10px}
.middle01 .shty_top .down_store li.mr_nj{background:#75bf46; border-radius:3px;}
.middle01 .shty_top .down_store li.mr_nj a{color:#fff}
.middle01 .shty_top .down_store li.mr_nj a:hover{color:#fff}
.middle01 .shty_top .down_store li a{font-size:14px; font:'宋体'; color:#75bf46; }
.middle01 .shty_top .down_store li a:hover{color:#ff8a00; text-decoration:none;} 
.middle01 .shty_top .down_store li.first{border-bottom:2px #d04102 solid;  width:70px; height:30px;padding-left:18px; border:none;}
.istore_con .s_info{float:left;padding:5px 8px;_margin:5px 8px;width:176px; height:162px; position:relative}
.istore_con .s_info img{ width:180px; height:125px;}
.istore_con .s_info:hover{background-color:#fbf5ed}
.istore_con .s_info:hover .store_name a{color:#F60; text-decoration:none;}
.istore_con .s_info .store_name a{font-size:12px; color:#333}
.jieshao{position:absolute; z-index:100; width:180px; line-height:25px; height:25px; top:105px; filter:alpha(opacity=50); -moz-opacity:0.50; opacity:0.50; color:#FFF; background:#000;}
.jg{color:#F60; font-weight:bold; font-size:14px;  z-index:200; position:absolute; top:110px;}
.img_tb{width:50px; height:50px; background: url("../images/njx_icon.png?v1") no-repeat;}
.gentuan_img{background-position: -12px -9px;}
.zizhu_img{background-position: -75px -9px;}
.zijia_img{background-position: -132px -9px;}
.istore_con{margin-top:5px;}