@charset "utf-8";
/* new search select 20100722 */
#tn_search_box {
	width:762px;
	position:absolute;
	line-height:21px;
	color:#333;
	z-index:1200;
	top:20px;
	left:120px;
}
#tn_search_shadow {
	width:753px;
	height:615x;
	margin-left:7px;
	border-right:2px #ebebeb solid;
	border-bottom:2px #ebebeb solid;	
}
#tn_search_box .clear {
	clear:both;
	line-height:0;
	height:0;
	font-size:0;
	overflow:hidden;
}
#tn_search_box a {
	text-decoration:none;
}
#tn_search_ico {
	width:12px;
	height:17px;
	background:url(../images/tn_search_bg.gif?v=0723) no-repeat;
	position:absolute;
	left:0;
	top:85px;
}
#tn_search_close {
	position:absolute;
	right:10px;
	top:10px;
}
#tn_search_inner {
	width:743px;
	_width:753px;
	height:670px;
	border:5px #ffc54b solid;
	background:#fff;
}
	#tn_search_side {
		width:122px;
		padding:0 12px;
		float:left;
		border-right:1px #dee4d7 solid;
		background:#fafff4;
		height:100%;
	}
		#tn_search_side dl {
			clear:both;
			padding-top:8px;
			_padding-top:4px;
		}
		#tn_search_side dl dt {
			line-height:24px;
			font-size:14px;
			font-weight:bold;
			border-bottom:1px #cce2b2 dashed;
		}
		#tn_search_side dl dd {
			width:61px;
			line-height:21px;
			float:left;
			text-indent:5px;
		}
		#tn_search_side dl dd.d_l {
			width:122px;
		}
	#tn_search_main {
		width:562px;
		margin-left:10px;
		float:left;
	}
		.tn_search_main_box { clear:both; padding-top:10px;+padding-top:5px;}
		#tn_search_main h3 {
			height:21px;
			clear:both;
			background:#ececec;
			font-size:14px;
			font-weight:normal;
			text-indent:5px;
		}
		#tn_search_main ul {
			/*height:100%;*/
			padding-top:6px;
			_padding-top:3px;
		}
		#tn_search_main ul li {
			width:64px;
			float:left;
			text-indent:5px;
		}
		#tn_search_main ul li.l_w {
			width:76px;
		}
		#tn_search_main dl {
			width:126px;
			/*height:100%;*/
			margin-left:5px;
			_margin-left:3px;
			margin-right:9px;
			padding-top:6px;
			float:left;
		}
		#tn_search_main dt {
			border-bottom:1px #cce2b2  dashed;
			font-weight:bold;
		}
		#tn_search_main dl dd {
			width:63px;
			float:left;
		}
/* search box */

.s-txt { border: 1px solid #999999;padding: 3px 2px;width: 150px; height:14px;vertical-align:middle;}
.input_t1 { width:90px;padding:3px 2px;border: 1px solid #999999;hheight:16px;}
.Wdate { font-family:Arial;}
 .autocomplete-w1{background:url(../images/autocomplete_shadow.png) no-repeat bottom right;position:absolute;top:0;left:0;margin:8px 0 0 6px;_background:none;_margin:0;}.autocomplete{border:1px solid #999;background:#FFF;cursor:default;text-align:left;max-height:350px;overflow:auto;margin:-6px 6px 6px -6px;_height:350px;_margin:0;_overflow-x:hidden;}.autocomplete .selected{background:#F0F0F0;}.autocomplete div{padding:2px 5px;white-space:nowrap;}.autocomplete strong{font-weight:normal;color:#39F;}
 
 



#search-box {
	background: rgb(255, 247, 224); border: 2px solid rgb(254, 143, 47); width: 166px; height: 250px; position: relative; z-index: 999;
}
#s-tab {
	background: url("../images/sbg.gif") repeat-x; width: 166px; height: 28px; line-height: 28px; font-size: 13px;
}
#s-tab li {
	width: 54px; text-align: center; border-left-color: rgb(254, 143, 47); border-left-width: 1px; border-left-style: solid; float: left; cursor: pointer; display:inline
}
#s-tab li.scur {
	background-position: -3px -611px; color: rgb(255, 255, 255); font-weight: bold; cursor: default; background-repeat: no-repeat;
}
#s-tab li.sfirst {
	border: 0px currentColor; width: 54px;
}
.s-content {
	padding: 5px; line-height: 22px; display: none;
}
.s-content dt {
	color: rgb(102, 102, 102);
}
.s-content a:link {
	text-decoration: none;
}
.s-content a:visited {
	text-decoration: none;
}
.s-content a:hover {
	text-decoration: none;
}
#s-route select {
	padding: 3px 2px; border: 1px solid rgb(153, 153, 153); width: 156px;
}
#r_id {
	margin-bottom: 5px;
}
#s-hotel td {
	padding: 3px 0px;
}
#s-ticktes a {
	display: inline-block;
}
.s-txt {
	padding: 3px 2px; border: 1px solid rgb(153, 153, 153); width: 150px; height: 14px; vertical-align: middle;
}
.input_t1 {
	padding: 3px 2px; border: 1px solid rgb(153, 153, 153); width: 90px; height: 14px;
}
.Wdate {
	font-family: Arial;
}
.cate_list {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(130, 175, 75) rgb(130, 175, 75); margin-top: 10px;
}
.cate_list_head {
	padding: 0px 8px; height: 30px; line-height: 30px; background-repeat: no-repeat;
}
.cate_list_head h2 {
	color: rgb(255, 255, 255); font-size: 16px; text-shadow: 1px 1px #53812F;
}
.cate_nav {
	width: 168px; border-top-color: rgb(80, 109, 49); border-top-width: 1px; border-top-style: solid;
}
.cate_nav .item {
	background-position: 8px -352px; width: 100%; height: 37px; float: left; position: relative; background-repeat: no-repeat;
}
.cate_nav .sitem {
	background-position: 8px -352px; width: 100%; height: 37px; float: left; position: relative; background-repeat: no-repeat;
}
.cate_nav .first {
	
}
.sub_h {
	background-position: 13px -276px; width: 100%; height: 37px; color: rgb(102, 102, 102); line-height: 37px; text-indent: 28px; font-size: 14px; text-decoration: none; float: left; display: block; background-repeat: no-repeat;
}
.sub_h:link {
	background-position: 13px -276px; width: 100%; height: 37px; color: rgb(102, 102, 102); line-height: 37px; text-indent: 28px; font-size: 14px; text-decoration: none; float: left; display: block; background-repeat: no-repeat;
}
.sub_h:visited {
	background-position: 13px -276px; width: 100%; height: 37px; color: rgb(102, 102, 102); line-height: 37px; text-indent: 28px; font-size: 14px; text-decoration: none; float: left; display: block; background-repeat: no-repeat;
}
.sub_h:hover {
	color: rgb(78, 151, 0); font-weight: bold; text-decoration: none;
}
.sitem .sub_h {
	background-position: 13px -756px;
}
.sitem .sub_h:link {
	background-position: 13px -756px;
}
.sitem .sub_h:visited {
	background-position: 13px -756px;
}
.item_over {
	z-index: 8; box-shadow: 0px 0px 6px #999; -moz-box-shadow: 0 0 6px #999; -webkit-box-shadow: 0 0 6px #999;
}
.item_sover {
	z-index: 8; box-shadow: 0px 0px 6px #999; -moz-box-shadow: 0 0 6px #999; -webkit-box-shadow: 0 0 6px #999;
}
.item_over .sub_h {
	background-position: 13px -757px; border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(138, 134, 98) currentColor rgb(138, 134, 98) rgb(138, 134, 98); left: -1px; top: 0px; width: 161px; height: 36px; color: rgb(78, 151, 0); line-height: 36px; font-weight: bold; position: absolute; z-index: 11; background-color: rgb(255, 255, 255);
}
.item_over .sub_h:link {
	background-position: 13px -757px; border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(138, 134, 98) currentColor rgb(138, 134, 98) rgb(138, 134, 98); left: -1px; top: 0px; width: 161px; height: 36px; color: rgb(78, 151, 0); line-height: 36px; font-weight: bold; position: absolute; z-index: 11; background-color: rgb(255, 255, 255);
}
.item_over .sub_h:visited {
	background-position: 13px -757px; border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(138, 134, 98) currentColor rgb(138, 134, 98) rgb(138, 134, 98); left: -1px; top: 0px; width: 161px; height: 36px; color: rgb(78, 151, 0); line-height: 36px; font-weight: bold; position: absolute; z-index: 11; background-color: rgb(255, 255, 255);
}
.item_sover .sub_h {
	background-position: 13px -757px; border: 1px solid rgb(138, 134, 98); left: -1px; top: 0px; width: 168px; height: 36px; line-height: 36px; position: absolute; z-index: 11; background-color: rgb(255, 255, 255);
}
.item_sover .sub_h:link {
	background-position: 13px -757px; border: 1px solid rgb(138, 134, 98); left: -1px; top: 0px; width: 168px; height: 36px; line-height: 36px; position: absolute; z-index: 11; background-color: rgb(255, 255, 255);
}
.item_sover .sub_h:visited {
	background-position: 13px -757px; border: 1px solid rgb(138, 134, 98); left: -1px; top: 0px; width: 168px; height: 36px; line-height: 36px; position: absolute; z-index: 11; background-color: rgb(255, 255, 255);
}
.w5 {
	width: 480px;
}
.w4 {
	width: 384px;
}
.w3 {
	width: 288px;
}
.w2 {
	width: 192px;
}
.w1 {
	width: 96px;
}
.cate_snav {
	background: rgb(255, 255, 255); padding: 0px 1px 1px 0px; border: 1px solid rgb(138, 134, 98); left: 160px; top: 0px; display: none; position: absolute; z-index: 10; box-shadow: 0px 0px 6px #999; -moz-box-shadow: 0 0 6px #999; -webkit-box-shadow: 0 0 6px #999;
}
.item_over .cate_snav {
	display: block;
}
.cate_snav li {
	background: rgb(239, 249, 218); margin: 1px 0px 0px 1px; width: 95px; height: 34px; overflow: hidden; float: left; _display: inline;
}
.cate_snav li.spot {
	width: 480px; text-align: center; font-size: 14px;
}
.cate_snav li a:link {
	background: rgb(239, 249, 218); width: 95px; height: 34px; text-align: center; color: rgb(102, 102, 102); line-height: 34px; font-size: 14px; text-decoration: none; float: left; display: block;
}
.cate_snav li a:visited {
	background: rgb(239, 249, 218); width: 95px; height: 34px; text-align: center; color: rgb(102, 102, 102); line-height: 34px; font-size: 14px; text-decoration: none; float: left; display: block;
}
.cate_snav li.spot a:link {
	float: none; display: inline;
}
.cate_snav li.spot a:visited {
	float: none; display: inline;
}
.cate_snav li.spot strong {
	color: rgb(103, 105, 101); font-size: 14px;
}
.cate_snav li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(252, 109, 4);
}
.cate_snav li.spot a:hover {
	color: rgb(255, 255, 255);
}
.cate_snav li.spot a:hover strong {
	color: rgb(255, 255, 255);
}
.cate_snav li.spot a:hover span {
	color: rgb(255, 255, 255);
}
.gb_head {
	background-position: 0px -228px; width: 165px; height: 27px; color: rgb(63, 118, 0); line-height: 27px; padding-left: 5px; font-size: 14px; font-weight: bold; background-repeat: no-repeat;
}
.green_box_inner {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(178, 209, 131) rgb(178, 209, 131); margin: 0px auto; padding: 0px 4px; width: 160px; color: rgb(102, 102, 102); line-height: 22px; font-size: 13px;
}
#vote {
	margin-top: 10px; position: relative;
}
#vote dl {
	padding: 5px 0px 10px; color: rgb(85, 85, 85); line-height: 24px; font-size: 12px;
}
#vote dt {
	font-weight: bold;
}
#vote input {
	top: 2px; margin-right: 3px; position: relative; _margin-right: 1px;
}
.vote_btn {
	padding: 0px; margin-left: 40px; vertical-align: middle;
}
#vote_suc {
	background: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); left: 24px; top: 36px; width: 248px; height: 83px; text-align: center; line-height: 30px; padding-top: 15px; position: absolute; z-index: 1000;
}
#vote_fail {
	background: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); left: 24px; top: 36px; width: 248px; height: 83px; text-align: center; line-height: 30px; padding-top: 15px; position: absolute; z-index: 1000;
}
#vote_suc span {
	
	 margin: 0px auto; width: 85px; height: 30px; text-align: right; color: rgb(255, 102, 0); font-size: 14px; font-weight: bold; display: block;
}
#vote_fail span {
	background-position: 0px 6px; margin: 0px auto; width: 85px; height: 30px; text-align: center; color: rgb(255, 102, 0); font-size: 14px; font-weight: bold; display: block;
}
#main {
	width: 820px; float: right;
}
.section_l {
	width: 535px; float: left;
}
.section_r {
	width: 220px; float: right;
}
#city_tab {
	height: 24px; line-height: 24px; padding-left: 24px; font-size: 12px; margin-bottom: 4px;
}
#city_tab .cur {
	color: rgb(204, 51, 0); font-size: 14px; font-weight: bold; margin-right: 16px; float: left;
}
#city_box {
	background: rgb(255, 255, 255); font-size: 13px; float: left; z-index: 10;
}
#more_city {
	background: 66px 50% rgb(255, 255, 255); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor; width: 82px; height: 22px; line-height: 22px; text-indent: 7px; font-weight: bold; margin-bottom: -1px; position: relative; z-index: 7;
}
.more_city_on #more_city {
	border-color: rgb(255, 139, 62);
}
#more_city a:link {
	color: rgb(77, 77, 77); text-decoration: underline;
}
#more_city a:visited {
	color: rgb(77, 77, 77); text-decoration: underline;
}
#more_city a:hover {
	color: rgb(77, 77, 77); text-decoration: underline;
}
#city_show {
	background: rgb(255, 255, 255); padding: 0px 10px; border: 1px solid rgb(255, 139, 62); width: 413px; display: none; position: absolute; z-index: 6;
}
.more_city_on #city_show {
	display: block;
}
#city_show dl {
	padding: 8px 0px; line-height: 22px; clear: both; border-bottom-color: rgb(211, 211, 211); border-bottom-width: 1px; border-bottom-style: dotted;
}
#city_show dl.no_border {
	border: currentColor;
}
#city_show dt {
	width: 43px; color: rgb(102, 102, 102); float: left;
}
#city_show dd {
	overflow: visible;
}
#city_show a {
	margin-right: 18px;
}
#city_show a.no_margin {
	margin-right: 0px;
}
#city_show a:link {
	text-decoration: none;
}
#city_show a:visited {
	text-decoration: none;
}
#city_show a:hover {
	text-decoration: underline;
}
.line_box_head {
	border-top:2px #ff6600 solid;
			 border-bottom:1px #ccc solid; border-left:1px #ccc solid; border-right:1px #ccc solid; padding: 0px 5px;
}
.line_box_head h2 {
	padding: 5px 0px 5px 30px; color:#ff6600; line-height: 25px; font-family: Microsoft Yahei; font-size: 16px; font-weight: bold; float: left; background-repeat: no-repeat;
}
.b_h1 {
	background-position: 0px -54px;
}
.b_h2 {
	background-position: 0px -97px;
}
.b_h3 {
	background-position: 0px -141px;
}
.b_h4 {
	background-position: 0px -187px;
}
.b_h5 {
	background-position: 0px -231px;
}
.ct_tip {
	margin: 5px 0px 0px 10px; float: left; _display: inline;
}

.TN_hotcity_w {
	background: rgb(255, 255, 255); border: 1px solid rgb(102, 102, 102); width: 270px; z-index: 999;
}
.TN_pos_w {
	background: rgb(255, 255, 255); border: 1px solid rgb(102, 102, 102); width: 510px; z-index: 999;
}
.TN_cmcity_w {
	background: rgb(255, 255, 255); border: 1px solid rgb(102, 102, 102); width: 200px; overflow: hidden; padding-bottom: 10px; z-index: 999;
}
.TN_city_h {
	background: rgb(78, 151, 0); padding: 0px 10px; height: 25px; color: rgb(255, 255, 255); line-height: 25px; overflow: hidden; white-space: nowrap;
}
.TN_city_h span {
	color: rgb(220, 255, 183);
}
.TN_hotcity_div {
	padding: 5px 0px 5px 4px; overflow: hidden; _zoom: 1;
}
.TN_pos_w .TN_hotcity_div a:link {
	background: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); width: 118px; height: 25px; line-height: 25px; overflow: hidden; padding-left: 5px; text-decoration: none; float: left; display: block; white-space: nowrap;
}
.TN_pos_w .TN_hotcity_div a:visited {
	background: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); width: 118px; height: 25px; line-height: 25px; overflow: hidden; padding-left: 5px; text-decoration: none; float: left; display: block; white-space: nowrap;
}
.TN_hotcity_div a:link {
	background: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); width: 45px; height: 25px; line-height: 25px; padding-left: 5px; text-decoration: none; float: left; display: block; white-space: nowrap;
}
.TN_hotcity_div a:visited {
	background: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); width: 45px; height: 25px; line-height: 25px; padding-left: 5px; text-decoration: none; float: left; display: block; white-space: nowrap;
}
.TN_hotcity_div a:hover {
	background: rgb(255, 244, 210); border: 1px solid rgb(255, 153, 0); color: rgb(0, 0, 0);
}
.TN_pos_w .TN_hotcity_div a:hover {
	background: rgb(255, 244, 210); border: 1px solid rgb(255, 153, 0); color: rgb(0, 0, 0);
}
.TN_cmcity_div {
	overflow: hidden; _zoom: 1;
}
.TN_cmcity_div a:link {
	background: rgb(255, 255, 255); border-width: 1px medium; border-style: solid none; border-color: rgb(255, 255, 255) currentColor; padding: 0px 10px; height: 25px; text-align: right; color: rgb(102, 102, 102); line-height: 25px; overflow: hidden; text-decoration: none; display: block; _zoom: 1;
}
.TN_cmcity_div a:visited {
	background: rgb(255, 255, 255); border-width: 1px medium; border-style: solid none; border-color: rgb(255, 255, 255) currentColor; padding: 0px 10px; height: 25px; text-align: right; color: rgb(102, 102, 102); line-height: 25px; overflow: hidden; text-decoration: none; display: block; _zoom: 1;
}
.TN_cmcity_div a:hover {
	background: rgb(255, 244, 210); border-width: 1px medium; border-style: solid none; border-color: rgb(255, 153, 0) currentColor; color: rgb(102, 102, 102);
}
.TN_cmcity_div a.csel:link {
	background: rgb(255, 233, 190); border-color: rgb(255, 233, 190);
}
.TN_cmcity_div a.csel:visited {
	background: rgb(255, 233, 190); border-color: rgb(255, 233, 190);
}
.TN_cmcity_div a:link span {
	color: rgb(78, 151, 0); float: left;
}
.TN_cmcity_div a:visited span {
	color: rgb(78, 151, 0); float: left;
}
.TN_cmpagelist {
	text-align: center; padding-top: 5px; word-break: normal; word-wrap: break-word;
}
.TN_cmpagelist a:link {
	color: rgb(78, 151, 0);
}
.TN_cmpagelist a:visited {
	color: rgb(78, 151, 0);
}
#cityInput {
	color: rgb(153, 153, 153);
}
#pre_month {
	background: rgb(76, 177, 0); text-align: center; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px;
}
#next_month {
	background: rgb(76, 177, 0); text-align: center; color: rgb(255, 255, 255); line-height: 25px; font-size: 12px;
}
#date_t_pre {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(153, 153, 153) currentColor rgb(153, 153, 153) rgb(153, 153, 153); padding: 1px; width: 175px; float: left;
}
#date_t_pre1 {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(153, 153, 153) currentColor rgb(153, 153, 153) rgb(153, 153, 153); padding: 1px; width: 175px; float: left;
}
#date_t_pre2 {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(153, 153, 153) currentColor rgb(153, 153, 153) rgb(153, 153, 153); padding: 1px; width: 175px; float: left;
}
#date_t_next {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(153, 153, 153) currentColor rgb(153, 153, 153) rgb(153, 153, 153); padding: 1px; width: 175px; float: left;
}
#date_t_next1 {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(153, 153, 153) currentColor rgb(153, 153, 153) rgb(153, 153, 153); padding: 1px; width: 175px; float: left;
}
#date_t_next2 {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(153, 153, 153) currentColor rgb(153, 153, 153) rgb(153, 153, 153); padding: 1px; width: 175px; float: left;
}
#tnDateW {
	background: rgb(255, 255, 255); width: 356px; overflow: hidden; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; position: absolute; z-index: 999; _zoom: 1;
}
#tnDateW1 {
	background: rgb(255, 255, 255); width: 356px; overflow: hidden; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; position: absolute; z-index: 999; _zoom: 1;
}
#tnDateW2 {
	background: rgb(255, 255, 255); width: 356px; overflow: hidden; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; position: absolute; z-index: 999; _zoom: 1;
}
.dateSel_t {
	border-collapse: collapse;
}
.dateSel_t th {
	width: 25px; text-align: center; line-height: 25px; font-size: 12px;
}
.dateSel_t td {
	width: 25px; text-align: center; line-height: 25px; font-size: 12px;
}
.dateSel_t th {
	background: rgb(236, 236, 236); font-weight: normal;
}
.dateSel_t td {
	border: 1px solid rgb(255, 255, 255); color: rgb(204, 204, 204);
}
.dateSel_t td.tdCobj {
	color: rgb(0, 0, 0); font-weight: bold; cursor: pointer;
}
.dateSel_t td.tdCobjS {
	background-color: rgb(255, 231, 172);
}
.dateSel_t td.tdCobjN {
	border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); font-weight: bold; background-color: rgb(255, 153, 0);
}
#pre_month {
	overflow: hidden; _zoom: 1;
}
.pre_link {
	padding: 0px 5px; color: rgb(113, 211, 40); font-family: "????"; float: left; display: block;
}
.next_link {
	padding: 0px 5px; font-family: "????"; float: right; display: block;
}
.pre_link:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.pre_link:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.next_link:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.next_link:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
#footer_link {
	margin: 0px auto 10px; padding: 10px 12px 3px; border: 1px solid rgb(231, 231, 231); width: 974px; color: rgb(153, 153, 153); line-height: 18px; font-size: 12px;
}
#footer_link dt {
	width: 60px; clear: both; float: left;
}
#footer_link dd {
	width: 912px; padding-bottom: 8px; float: left;
}
#footer_link a {
	margin-right: 5px; _margin-right: 2px;
}
#footer_link a:link {
	color: rgb(153, 153, 153); text-decoration: none;
}
#footer_link a:visited {
	color: rgb(153, 153, 153); text-decoration: none;
}
#footer_link a:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.drop-list2 {
	margin: -2px auto 0px; width: 1000px; position: relative; z-index: 10001;
}
.drop-list2 .drop-list-dl2 {
	width: 598px; overflow: hidden; position: relative; z-index: 1005; _zoom: 1;
}
.drop-list2 .drop-list-inner2 {
	background: rgb(255, 255, 255); padding: 10px 0px; width: 598px; overflow: hidden; border-right-color: rgb(102, 153, 0); border-bottom-color: rgb(102, 153, 0); border-left-color: rgb(102, 153, 0); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: none; position: absolute; z-index: 100; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px;
}
.drop-list2 #D-around2 {
	left: 65px; top: 0px; z-index: 1000;
}
.drop-list2 #D-domestic2 {
	left: 148px; top: 0px; z-index: 1000;
}
.drop-list2 #D-abroad2 {
	left: 231px; top: 0px; z-index: 1000;
}
.drop-list2 .drop-list-inner2 dl {
	width: 299px; height: 30px; line-height: 30px; overflow: hidden; margin-right: -1px; border-right-color: rgb(211, 211, 211); border-right-width: 1px; border-right-style: dashed; float: left;
}
.drop-list2 .drop-list-inner2 dt {
	width: 70px; text-align: right; color: rgb(255, 102, 0); font-weight: bold; float: left;
}
.drop-list2 .drop-list-inner2 dd a {
	margin-left: 15px;
}
.drop-list2 .drop-list-inner2 dd a:link {
	text-decoration: none;
}
.drop-list2 .drop-list-inner2 dd a:visited {
	text-decoration: none;
}
.drop-list2 .drop-list-inner2 dd a:hover {
	text-decoration: none;
}
.site_list {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(222, 222, 222) rgb(222, 222, 222) currentColor; line-height: 35px; margin-top: 10px;
}
.site_list_head {
	background: url("../images/spr_main.png") repeat-x left -185px; padding: 0px 10px; height: 35px; font-size: 14px;
}

#s-tab li.scur {
	background: url("../images/scur2.png") no-repeat 50% 0px; color: rgb(255, 255, 255); font-weight: bold; cursor: default;
}
